@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-input {
    @apply mb-5 block w-60;
  }

  .button {
    @apply py-1 px-6 text-lg rounded block my-0 mx-auto cursor-pointer text-white bg-red-900 border-solid border border-gray-800;
  }

  .thumbnail {
    max-width: 45%;
    max-height: 400px;
  }

  .smaller-image {
    border-radius: 50%;
    @apply w-24 h-24 inline-block m-4 cursor-pointer border-2 border-solid border-gray-800;
  }

  .active {
    @apply border-gray-800 opacity-60;
  }

  .pet-image {
    width: 100px;
    min-height: 100px;
  }

  .image-container {
    clip-path: circle(50% at 50% 50%);
  }
}

@layer utilities {
  .grayed-out-disable {
    @apply disabled:opacity-50;
  }
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}